#titleTopBar ,.topcoat-tab-bar__button{
    font-family: 'pacificoregular', Arial, sans-serif;
    font-size: 225%;
    color: #E35A00;
}

body, .topcoat-navigation-bar, .topcoat-tab-bar__button{
 background-color: #FFB900;
}

ul {
    list-style: none;
}
